.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #202020;
  height: 10vh;
}
.header-lg-website-link-logout-btn-cards {
  display: none;
}
.header-sm-website-link-logout-btn-cards {
  width: 87%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-sm-website-logo {
  width: 75px;
  height: 20px;
}
.link-sm-direction-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 5px;
}
.link-sm-cards {
  list-style-type: none;
}
.sm-link {
  font-size: 18px;
  color: #f1f5f9;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  margin-right: 10px;
}
.header-sm-logout-btn {
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  color: #f1f5f9;
  font-size: 18px;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .header-container {
    height: 15vh;
  }
  .header-sm-website-link-logout-btn-cards {
    display: none;
  }
  .header-lg-website-link-logout-btn-cards {
    width: 87%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header-website-logo {
    width: 135px;
    height: 35px;
  }
  .link-direction-container {
    display: flex;
    align-items: center;
  }
  .link-cards {
    list-style-type: none;
    margin-right: 16px;
  }
  .link {
    font-size: 21px;
    color: #f1f5f9;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
  }
  .header-logout-btn {
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #6366f1;
    width: 120px;
    padding: 10px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 8px;
    color: #f1f5f9;
    text-align: center;
  }
}
